* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  overflow-x: hidden;
}

nav {
  background-color: #181818;
}

.nav-link {
  color: #ebdbc4;
}

nav .container ul li {
  padding-left: 1rem;
  font-size: 1em;
}

body {
  background-color: #181818;
  color: #ebdbc4;
}

.container-satu img {
  width: 100%;
  padding-top: 5rem;
}

#about h1 {
  margin-bottom: 40px;
}

.container-dua {
  max-width: 1200px;
  margin: 50px auto; /* ini bikin center */
  display: flex;
  justify-content: center;
  gap: 30px;
  flex-wrap: wrap;
}

.wrapper {
  perspective: 3000px;
}

.card-satu {
  width: 360px;
  height: 530px;
  transform-style: preserve-3d;
  transition: transform 0.8s ease-in-out;
  cursor: pointer;
  border: 1px solid #ccc;
  box-shadow:
    5px 5px 10px rgba(176, 137, 104, 0.3),
    -5px -5px 10px rgba(176, 137, 104, 0.3);
  border-radius: 15px;
}

.card-satu:hover {
  transform: rotateY(180deg);
}

.front-page,
.back-page {
  position: absolute;
  width: 100%;
  height: 100%;
  backface-visibility: hidden;
  border-radius: 15px;
}

.front-page {
  background-image: url(../IMG/ChatGPT\ Image\ Mar\ 8\,\ 2026\,\ 01_51_43\ PM.jpg);
  background-size: cover;
}

.card-info {
  position: absolute;
  bottom: 50px;
  left: 10px;
  color: #ede0d4;
  text-shadow: 2px 2px 6px rgba(245, 246, 233, 0.8);
  text-align: center;
}

.card-title {
  font-style: 2rem;
  font-weight: bold;
}

.card-subtitle {
  font-size: 1.1rem;
  margin-top: 5px;
  color: #ede0d4;
}

.back-page {
  background-color: #1e272e;
  color: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
  transform: rotateY(180deg);
  box-shadow: 0 20px 40px rgba(0, 0, 0, 0.1);
}

.card-content {
  text-align: center;
  padding: 20px;
  max-width: 300px;
}

.card-content h3 {
  font-size: 1.8rem;
  font-weight: bold;
  margin-bottom: 15px;
}

.card-desc {
  font-size: 1rem;
  color: #ccc;
  margin-bottom: 20px;
  line-height: 1.6;
}

.wrapper-dua {
  perspective: 3000px;
}

.card-dua {
  width: 360px;
  height: 530px;
  transform-style: preserve-3d;
  transition: transform 0.8s ease-in-out;
  cursor: pointer;
  border: 1px solid #ccc;
  box-shadow:
    5px 5px 10px rgba(176, 137, 104, 0.3),
    -5px -5px 10px rgba(176, 137, 104, 0.3);
  border-radius: 15px;
}

.card-dua:hover {
  transform: rotateY(180deg);
}

.front-page2,
.back-page2 {
  position: absolute;
  width: 100%;
  height: 100%;
  backface-visibility: hidden;
  border-radius: 15px;
}

.front-page2 {
  background-image: url(../img/_DSC0056.jpg);
  background-size: cover;
}

.card-info2 {
  position: absolute;
  bottom: 50px;
  left: 75px;
  color: #ede0d4;
  text-shadow: 2px 2px 6px rgba(245, 246, 233, 0.8);
  text-align: center;
}

.card-title2 {
  font-style: 2rem;
  font-weight: bold;
}

.card-subtitle2 {
  justify-content: center;
  font-size: 1.2rem;
  margin-top: 5px;
  color: #ede0d4;
}

.back-page2 {
  background-color: #1e272e;
  color: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
  transform: rotateY(180deg);
  box-shadow: 0 20px 40px rgba(0, 0, 0, 0.1);
}

.card-content2 {
  text-align: center;
  padding: 20px;
  max-width: 300px;
}

.card-content2 h3 {
  font-size: 1.8rem;
  font-weight: bold;
  margin-bottom: 15px;
}

.card-desc2 {
  font-size: 1rem;
  color: #ccc;
  margin-bottom: 20px;
  line-height: 1.6;
}

.wrapper-tiga {
  perspective: 3000px;
}

.card-tiga {
  width: 360px;
  height: 530px;
  transform-style: preserve-3d;
  transition: transform 0.8s ease-in-out;
  cursor: pointer;
  border: 1px solid #ccc;
  box-shadow:
    5px 5px 10px rgba(176, 137, 104, 0.3),
    -5px -5px 10px rgba(176, 137, 104, 0.3);
  border-radius: 15px;
}

.card-tiga:hover {
  transform: rotateY(180deg);
}

.front-page3,
.back-page3 {
  position: absolute;
  width: 100%;
  height: 100%;
  backface-visibility: hidden;
  border-radius: 15px;
}

.front-page3 {
  background-image: url(../img/Project/2.1.jpg);
  background-size: cover;
}

.card-info3 {
  position: absolute;
  bottom: 50px;
  left: 60px;
  color: #ede0d4;
  text-shadow: 2px 2px 6px rgba(245, 246, 233, 0.8);
  text-align: center;
}

.card-title3 {
  font-style: 2rem;
  font-weight: bold;
}

.card-subtitle3 {
  font-size: 1.2rem;
  margin-top: 5px;
  color: #ede0d4;
}

.back-page3 {
  background-color: #1e272e;
  color: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
  transform: rotateY(180deg);
  box-shadow: 0 20px 40px rgba(0, 0, 0, 0.1);
}

.card-content3 {
  text-align: center;
  padding: 20px;
  max-width: 300px;
}

.card-content3 h3 {
  font-size: 1.8rem;
  font-weight: bold;
  margin-bottom: 15px;
}

.card-desc3 {
  font-size: 1rem;
  color: #ccc;
  margin-bottom: 20px;
  line-height: 1.6;
}

.card-price {
  margin-top: 8px;
  font-weight: bold;
}

/* EDUCATION */
#education h2 {
  font-weight: bold;
}

.menu-box {
  position: relative;
  background-color: #ebdbc4;
  border-radius: 10px;
  height: 500px;
  transform-style: preserve-3d;
}

.menu-box::before {
  content: "EDU";
  position: absolute;
  color: #3e592a;
  font-size: 5em;
  font-weight: bold;
  font-style: italic;
  top: 30px;
  left: 50%;
  transform: translate(-50%, 0);
  opacity: 0;
  transition: 0.5s;
}

.menu-box:hover::before {
  opacity: 0.2;
}

.menu-box::after {
  content: "CATION";
  position: absolute;
  color: #3e592a;
  font-size: 5em;
  font-weight: bold;
  font-style: italic;
  top: 330px;
  left: 50%;
  transform: translate(-50%, 0);
  opacity: 0;
  transition: 0.5s;
}

.menu-box:hover::after {
  opacity: 0.2;
}

.menu-name {
  position: absolute;
  top: 0;
  width: 100%;
  color: #3e592a;
  text-align: center;
  font-size: 2em;
  opacity: 0;
  transform: translate3d(0, 0, 50px);
  transition: 0.5s;
}

.menu-box:hover .menu-name {
  top: 20px;
  opacity: 1;
}

.menu-detail-button {
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translate3d(-50%, 0, 100px);
  opacity: 0;
  transition: 0.5s;
}

.menu-box:hover .menu-detail-button {
  opacity: 1;
  bottom: 20px;
}

.logo-img {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate3d(-50%, -52%, 80px);
  max-width: 250px;
  transition: 0.5s;
}

.menu-box:hover .logo-img {
  transform: translate3d(-50%, -52%, 100px) rotate(5deg) scale(1.2);
}

.carousel {
  display: flex;
  height: 20rem;
  gap: 1rem;
  margin-top: -20px;
}

.carousel > div {
  flex: 1;
  border-radius: 1rem;
  background-position: center;
  background-repeat: no-repeat;
  background-size: auto 100%;
  transition: all 0.8s cubic-bezier(0.075, 0.82, 0.165, 1);
}

.carousel > div:hover {
  flex: 5;
}

.carousel-1 {
  background-image: url(../IMG/tianshu-liu-SBK40fdKbAg-unsplash.jpg);
}

.carousel-2 {
  background-image: url(../IMG/yu-kato-824OwkP7sgk-unsplash.jpg);
}

.carousel-3 {
  background-image: url(../IMG/victoriano-izquierdo-CS8Get8gGBI-unsplash.jpg);
}

.carousel-4 {
  background-image: url(../IMG/alex-wolfe-osCNe-hGHVg-unsplash.jpg);
}

.carousel-5 {
  background-image: url(../IMG/yash-banka-PyluYDQIPtc-unsplash.jpg);
}

/* Ukuran Mobile */
@media screen and (max-width: 576) {
  .container-dua {
    flex-direction: column;
    overflow: hidden;
    align-items: center;
  }
}
